	 </div>
    <!-- /#wrapper -->
	<!-- jQuery -->
    <script src="${rootPath}/static/lib/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="${rootPath}/static/lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="${rootPath}/static/lib/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="${rootPath}/static/js/sb-admin-2.js"></script>
    
</body>

</html>